
.noteItem{
    padding: 1em 1.5em;
    background-color: red;
    border-radius: 14px;
}



.noteItem__title{
    color: var(--color-primary);
    font-size: var(--fs-md);
    font-weight: var(--fw-semibold);
}
.noteItem__text{
    color: var(--color-primary);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
}